.newsletter {
	padding: 6rem 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.h1 {
		margin-bottom: 2rem;
		width: 100%;
		text-align: center;
		letter-spacing: 6px;
	}
}