.products-list {
	img {
		margin-bottom: 1rem;
		border-radius: 10px;
	}

	h2 {
		margin-bottom: 2rem;
	}

	a {
		color: $darkgrey;
	}
}

#filterContainer {
	.btn {
		border: 0;
		font-family: $font-family-base;
		font-weight: bold;
	}
	.active {
		background: $primary;
		outline: 0;

		&:focus {
			box-shadow: none;
		}
	}
}