.blog-single-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.entry-meta {
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-family: $headings-font-family;
	letter-spacing: 3px;
	color: $darkgrey;
}

.featured-image {
	margin-bottom: 2rem;
}